body {
    margin: 0;
}
#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#game img.terrain {
    width: 100%;
    position: absolute;
    z-index: 1;
}
#game .bike {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}